.shopContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  margin: 50px;
}

.cartContainer {
  background: rgba(255, 153, 0, 0.3);
}
