.headerNav {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 145px;
  padding-right: 145px;
}
.links {
  margin-left: auto;
}

.headerNav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-left: 36px;
}

.headerNav a:hover {
  color: orange;
}

.signOutButton {
  color: white;
  font-size: 17px;
  margin-left: 36px;
  background: none;
  border: none;
  padding: 0;
}

.signOutButton:hover {
  color: orange;
}
